.about-company {
  max-width: 1164px;
  padding: 109px 0 109px 176px;
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-size: 220px 317px;
  background-position: -34px 110px;

  @media (max-width: $tablet-width) {
    padding: 55px 25px 84px 210px;
    background-size: 250px 362px;
    background-position: -8px 53px;
  }

  @media (max-width: $mobile-width) {
    padding: 58px 14px 65px;
    background-image: none;
  }
}

.about-company h2 {
  margin-top: 0;
  margin-bottom: 18px;
  color: $primary-font;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.about-company p {
  margin: 0;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  // font-size: 16px;
  line-height: 22px;
  color: $primary-font;

  &:first-of-type {
    margin-bottom: 22px;
  }

  &:nth-child(2n-1) {
    margin-bottom: 37px;
  }

  &:nth-child(2n-1) span:first-child {
    display: none;
  }

  @media (max-width: $tablet-width) {
    padding-left: 2px;

    &:nth-child(2n-1) {
      margin-bottom: 39px;
    }

    &:nth-child(2n-1) span:first-child {
      display: inline;
    }

    &:nth-child(2n-1) > span:nth-child(3n-1) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    &:first-of-type {
      margin-bottom: 40px;
    }

    &:nth-child(2n-1) {
      margin-bottom: 29px;
    }
  }
}

.about-company a {
  display: inline-block;
  width: 180px;
  min-height: 45px;
  padding: 15px 20px 12px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $additional-color;
  text-decoration: none;
  text-align: center;
  border: 1px solid $additional-color;
  border-radius: 5px;

  &:hover {
    background-color: rgba($additional-color, 0.3);
  }
}
