.advantage {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 14px;
    content: "";
    width: 100%;
    height: 1260px;
    background-image: url("../img/triangles-advantage.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    &::before {
      top: 207px;
      right: -38px;
      width: 636px;
      height: 640px;
      background-image: url("../img/triangles-advantage-tablet.png");
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      top: inherit;
      bottom: 387px;
      right: -157px;
    }
  }
}

.advantage__container {
  padding-top: 112px;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
    padding-left: 14px;
  }
}

.advantage ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 29px;
  row-gap: 30px;
  max-width: 1170px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.advantage li {
  min-height: 299px;
  width: calc(50% - 15px);
  padding: 40px 35px 49px 41px;
  background-color: $basic-white;
  border: 1px solid $light-grey;
  border-left: 3px solid $additional-color;

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding: 24px 18px 21px 25px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 310px;
    padding-right: 12px;
  }
}

.advantage li:nth-child(3n-1) h3 {
  @media (max-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 2px;
  }
}

.advantage li:nth-child(4n-1) h3 {
  @media (max-width: $tablet-width) {
    padding-top: 7px;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    margin-bottom: 17px;
  }
}

.advantage li:nth-child(5n-1) h3 {
  @media (max-width: $tablet-width) {
    padding-top: 4px;
    margin-bottom: 4px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.advantage li:nth-child(3n-1) {
  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.advantage li:nth-child(4n-1) {
  @media (max-width: $mobile-width) {
    min-height: 232px;
  }
}

.advantage li:nth-child(5n-1) {
  @media (max-width: $mobile-width) {
    min-height: 244px;
  }
}

.advantage li:hover {
  background-color: $additional-color;

  h3,
  p {
    color: $basic-white;
  }

  svg {
    fill: $basic-white;
  }
}

.advantage li:active,
.advantage li:focus {
  border: 1px solid $basic-black;
}

.advantage h3 {
  padding-top: 17px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $additional-color;

  @media (max-width: $tablet-width) {
    padding-top: 4px;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 140.62%;
  }
}

.advantage p {
  margin: 0;
  line-height: 22px;
  color: $primary-font;
}

.advantage__list p {
  white-space: break-spaces;
}

.advantage svg {
  fill: $additional-color;
}

.advantage__hired-svg {
  @media (max-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }
}

.advantage__detective-svg {
  @media (max-width: $tablet-width) {
    width: 30px;
    height: 26px;
  }
}
