.contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 436px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    width: 83px;
  }
}

.contacts-list a {
  display: block;
  line-height: 18px;
  color: $basic-white;
  text-decoration: none;
}

.contacts-list__svg-email {
  @media (max-width: $tablet-width) {
    width: 25px;
    height: 19px;
  }
}

.contacts-list__svg-phone {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.contacts-list span {
  margin-left: 15px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
