.modal-window {
  display: none;
  position: fixed;
  top: -112px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  &--show {
    display: flex;
  }
}

.modal-window__form-popup {
  position: relative;
  width: 490px;
  min-height: 605px;
  padding: 33px 40px 36px;
  background-color: $additional-color;
}

.modal-window__form-popup button:nth-child(2n-1) {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: 0;
}

.modal-window h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 140.62%;
  color: $basic-white;
}

.modal-window p {
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
}

.modal-window input,
.modal-window textarea {
  width: 100%;
  font-family: "PT Mono", "Courier New", monospace;
  padding: 14px 25px 15px;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  border: none;
  background-color: $form-color;

  &::placeholder {
    color: $basic-white;
  }
}

.modal-window textarea {
  height: 104px;
}

.modal-window__input {
  margin-bottom: 30px;
}

.modal-window button:nth-child(3n-1) {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-bottom: 34px;
  border: 1px solid $basic-white;
  border-radius: 5px;

  &:hover {
    background-color: rgba($basic-white, 0.5);
  }

  &:active {
    background-color: rgba($basic-white, 0.3);
  }
}

.modal-window__checkbox {
  position: relative;
}

.modal-window__checkbox label {
  display: block;
  padding-right: 20px;
  padding-left: 48px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($basic-white, 0.8);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }
}

.modal-window__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  opacity: 0;
}

.modal-window__checkbox input:checked + label::after {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
