.promo {
  background-color: $additional-dark;
  background-image: url("../img/main-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__container {
  position: relative;
  max-width: 1490px;
  padding: 316px 0 275px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 188px 200px 162px 90px;
  }

  @media (max-width: $mobile-width) {
    padding: 286px 18px 70px;
  }
}

.promo h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 31px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
  z-index: 1;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 47px;
  }
}

.promo p {
  position: relative;
  width: 50%;
  padding-left: 94px;
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  z-index: 1;

  &::after {
    position: absolute;
    top: 15px;
    left: 0;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $basic-white;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    padding-left: 48px;
    font-size: 18px;
    line-height: 156.8%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 42px;
    font-size: 16px;
  }
}

.promo a {
  display: inline-block;
  max-width: 407px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  padding: 17px 28px 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $additional-color;
  border-radius: 5px;
}

.promo span:nth-child(3n-1) {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.promo span:nth-child(2n-1) {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.promo__picture {
  position: absolute;
  top: 33px;
  left: 100%;
  margin-left: -48%;
  height: 655px;
  width: 48%;
  background-image: url("../img/chip.png");
  background-repeat: no-repeat;
  background-size: 713px 655px;
  z-index: 0;

  @media (max-width: $tablet-width) {
    left: auto;
    right: 0;
    top: 10px;
    margin-left: 0;
    width: 330px;
    height: 466px;
    background-image: url("../img/chip-tablet.png");
    background-size: 330px 466px;
  }

  @media (max-width: $mobile-width) {
    width: 294px;
    height: 437px;
    background-image: url("../img/chip-mobile.png");
    background-size: 294px 437px;
    right: 0;
    top: 0;
  }
}
