.promo {
  background-color: $additional-dark;
}

.promo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
}

.promo p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
}

.promo a {
  display: block;
  padding: 17px 28px 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $basic-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $additional-color;
  border-radius: 5px;
}
