.services {
  background-color: $additional-dark;
}

.services__container {
  max-width: 1170px;
  padding-top: 93px;
  padding-bottom: 127px;

  @media (max-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 78px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 64px;
  }
}

.services h2 {
  margin-top: 0;
  margin-bottom: 47px;
  color: $basic-white;

  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.services ul {
  display: flex;
  column-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 46px;
  }

  @media (max-width: $mobile-width) {
    row-gap: 30px;
  }
}

.services a {
  position: relative;
  display: block;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;
  text-decoration: none;
}

.services span {
  position: absolute;
  top: 53px;
  left: 44px;

  @media (max-width: $tablet-width) {
    top: 53px;
    left: 45px;
  }

  @media (max-width: $mobile-width) {
    top: 23px;
    left: 35px;
  }
}

.services img {
  opacity: 0.2;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }
}
