.special-list {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.special-list a {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba($additional-dark, 0.5);

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.special-list li:first-child,
.special-list li:nth-child(3n-1) {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
