.special-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 15px;

  @media (max-width: $tablet-width) {
    padding: 22px 0 12px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 27px 0 27px;
  }
}

.special-list ul {
  display: flex;
  justify-content: space-between;
  width: 58%;
  padding-left: 0;
  margin: 0;
  list-style: none;

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }
}

.special-list li:nth-child(3n-1) {
  margin-right: 71px;
}

.special-list li:nth-child(4n-1) {
  margin-right: 5px;
}

.special-list a {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba($additional-dark, 0.5);

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.special-list li:first-child,
.special-list li:nth-child(3n-1) {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
