.user-data {
  position: relative;
  background-color: $additional-color;

  &::before {
    position: absolute;
    content: "";
    top: 35px;
    right: 2px;
    width: 364px;
    height: 670px;
    background-image: url("../img/triangles-userdata.png");
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    &::before {
      background-image: none;
    }
  }
}

.user-data__container {
  position: relative;
  max-width: 1490px;
  padding-top: 93px;
  padding-bottom: 109px;

  @media (max-width: $tablet-width) {
    padding: 79px 87px 103px 88px;
  }

  @media (max-width: $mobile-width) {
    padding: 31px 15px 41px;
  }
}

.user-data__pucture {
  position: absolute;
  top: 83px;
  right: 100%;
  width: 706px;
  height: 517px;
  margin-right: -44%;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-size: 706px 517px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.user-data__content {
  width: 49.4%;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.user-data h2 {
  margin-top: 0;
  margin-bottom: 7px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 12px;
  }
}

.user-data p {
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-bottom: 25px;
  }
}

.user-data form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 29px;
  row-gap: 43px;
  max-width: 575px;
  padding-left: 5px;

  @media (max-width: $tablet-width) {
    row-gap: 41px;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    row-gap: 26px;
    padding-left: 0;
  }
}

.user-data__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 40px;

  @media (max-width: $tablet-width) {
    width: 100%;
    row-gap: 42px;
  }

  @media (max-width: $mobile-width) {
    row-gap: 30px;
  }
}

.user-data__input {
  &--name {
    width: 47%;
  }

  &--tel {
    width: 47%;
  }

  &--textarea {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.user-data input,
.user-data textarea {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  background-color: $form-color;
  border: none;
  color: $basic-white;

  &::placeholder {
    color: $basic-white;
    background-color: $form-color;
  }
}

.user-data__contacts input {
  padding: 14px 15px;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 14px 16px 16px;
    width: 100%;
  }
}

.user-data textarea {
  width: 100%;
  height: 154px;
  padding: 13px 16px;

  @media (max-width: $tablet-width) {
    height: 160px;
  }

  @media (max-width: $mobile-width) {
    height: 105px;
  }
}

.user-data button {
  height: 45px;
  width: 47%;
  padding: 6px 14px 10px;
  border: 1px solid $basic-white;
  border-radius: 5px;

  &:hover {
    background-color: rgba($basic-white, 0.5);
  }

  @media (max-width: $tablet-width) {
    height: 47px;
    width: 47.5%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.user-data__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  width: 47%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.user-data__checkbox label {
  display: block;
  padding-left: 33px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($basic-white, 0.8);

  &::after {
    position: absolute;
    top: 5px;
    left: 6px;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding-left: 40px;

    &::after {
      top: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 33px;
    padding-top: 5px;

    &::after {
      top: 5px;
      left: 0;
    }
  }
}

.user-data__checkbox input {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  margin: 0;
  opacity: 0;

  @media (max-width: $tablet-width) {
    top: 10px;
  }

  @media (max-width: $mobile-width) {
    top: 5px;
    left: 0;
  }
}

.user-data__checkbox:hover {
  label {
    color: rgba($basic-white, 0.5);
  }
}

.user-data__checkbox input:checked + label::after {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.user-data__checkbox input:focus + label::after {
  border: 1px solid $basic-black;
}
