$basic-white: #ffffff;
$basic-black: #000000;
$secondary-white: #fafafa;
$light-grey: #ebebeb;
$primary-font: #666666;
$additional-dark: #1b2d37;
$additional-color: #00b2ff;
$form-color: #19BAFF;

$tablet-width: 1023px;
$mobile-width: 767px;
